@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}
.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 75%;
    color: white;
    padding: 5vh 2vw;
    background-color: #6d1b81;
    border-radius: 40px;
    font-weight: 800;
}

.panel {
    width: 100%;
    height: 15%;
    background-color: #33d86f;
    font-size: 4rem;
    text-align: right;
}

.pane {
    width: 100%;
    height: 15%;
    margin: 4vh 0;
    padding: 2vh 0 1vh 0;
    justify-content: space-evenly;  
}

.pane div {
    margin-left: 5vh;
}

.pane div:first-child { 
    margin-left: 0;
}

.button-number, .operator {
    display: inline-block;
    height: 80%;
    width: 17%;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    background-color: #8282c9;
}

.operator {
    display: inline-block;
}